body {
  background-color: rgb(15, 15, 15);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

/* Main THREEjs View */
.viewbox {
  width: 100%;
  height: 100%;
}

/* Main Info Center */
.info-center {
  width: 100%;
  max-height: 50%;
  bottom: 0;
  z-index: 10;
  background-color: rgba(20, 20, 20, 0.692);
  font-family: 'Courier New', Courier, monospace;
  color: rgb(74, 253, 154);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: fixed;
  justify-content: center;
  max-width: 1000px;
}

/* Distance Info */
.distance-info {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  color: rgb(204, 204, 204);
  align-items: flex-end;
  padding: 5px 10px;
  padding: 5px 20px;
}
.distance-mesurements {
  margin-left: 20px;
}
.curr-name {
  font-size: 24px;
}
.km {
}
.ly {
}

/* Navigating Buttons */
.info-btns {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}
.info-btn {
  padding: 10px;
  border-left: 1px solid black;
  text-align: center;
  background-color: rgba(92, 92, 92, 0.158);
}
.info-btn:hover {
  background-color: black;
  cursor: pointer;
}

/* Main Info Div */
.info {
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* height: 500px; */
  overflow: scroll;
}

.info-div {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 0px 10px;
  margin: 0px;
  cursor: pointer;
}

.info-div img{
  /* width: 50px; */
  height: 100px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.info-item {

}



